/*   task 2   */




h1.h1_task2 {
    font-family: Sans-Serif;
}
p.p_task2 {
    font-family: Serif;
}
a.a_task2 {
    color: darkgreen;
}
del.del_task2 {
    color: grey;
}
h2.h2_task2 {
    align-items: left;
    font-family: Sans-Serif;
}
span.span_task2 {
    color: darkblue;
    background-color: pink;
}
pre.pre_task2 {
    font-family: monospace;
    font-size: 1em;
}






/*   task 3   */



h3.h3_task3 {
    color: darkblue; opacity: 0.8;
}
pre.transparent_text {
    opacity: 0.5;
}






/*   task 4   */


body.background_task4 {
    background-color: #DCF5F5;
    background-repeat: repeat;
    background-image: url("/cross.png");
}





/*   task 5   */

body.background_task5 {
    background-color: #DCF5F5;
    background-repeat: repeat;
    background-image: url("/cross.png");
}

div#content {
    background-color: white;
}

span.span_task5 {
    color: blue;
}

span.span2_task5 {
    font-family: cursive;
}

span.span3_task5 {
    color: blue;
    font-family: cursive;
}



/*   task 6   */


body.background_task6 {
    background-color: #DCF5F5;
    background-repeat: repeat;
    background-image: url("/cross.png");
}

div.div_task6 {
    background-color: white;
    border-style: solid;
    border-color: darkgrey 1px;
    border-radius: 8px;
}

span.red-border {
    border-style: solid;
    border-color: red;
}

span.red-outline {
    outline-style: solid;
    outline-color: red;
}

div.div2_task6 {
    border-style: solid;
    border-color: red;
}

div.div3_task6 {
    border-style: solid;
    border-color: blue;
}

div.div4_task6 {
    border-style: solid;
    border-color: red;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: none;
}

div.div5_task6 {
    border-style: solid;
    border-color: blue;
    border-radius: 8px;
}




/*   task 7   */


body.background_task7 {
    background-color: #DCF5F5;
    background-repeat: repeat;
    background-image: url("/cross.png");
}

div.div_task7 {
    background-color: white;
}

hr.hr_task7 {
    background-color: #DCF5F5;
}


