h1 {
    color: red;
}
a {
    color: orange;
}
del {
    color: grey;
}
span {
    background-color: pink;
    color: dimgrey;
}
h2 {
    align-items: center;
}
pre {
    font-family: monospace;
    font-size: .8em;
}